<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseProj.Properties.Settings.moonn52ConnectionString"
            connectionString="server=webdev.cs.uwosh.edu;user id=moonn52;password=j382052;persistsecurityinfo=True;port=4381;database=moonn52"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>